.team-member {
    &__container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    &__card {
        margin: 0px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }
    &__img {
        width: inherit;
    }
    &__card-img {
        display: flex;
        position: relative;
    }

    &-name {
        margin-bottom: -10px;
        color: black;

    }


    &__overlay {
        border-bottom: none !important;
        flex-flow: row;
        align-items: center;
        justify-content: center;
    }
}
.social-media__icons {
    display: flex;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 5px;
    flex-flow: row nowrap;
    margin: 0px 5px;
    transition: all 0.5s ease-in-out;
    &:hover  {
        background-color: white;
        transition: all 0.5s ease-in-out;
    }
    
}
.svg {
    fill: white;
    width: 30px;
    height: 30px;
    display: flex;
    align-self: center;
    padding-left: 15px;
    transition: all 0.5s ease-in-out;
    &:hover {
        fill: black;
        transition: all 0.5s ease-in-out;
        transform: scale(1.5, 1.5);
    }

    
}
@media (max-width: 1370px) {
    .team-member__container {
        flex-flow: column;
    }
    
}
@media (max-width: 450px) {
    .team-member__card-img {
        width: 85%;
    }

    
}