.portfolio {


    &__container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding-top: 100px;
        align-items: center;
    }

    &__about {
        display: flex;
        flex-flow: column;
    }

    &__title {
        font-family: Raleway-Light, sans-serif;
        color: black;
        font-weight: lighter;
        font-size: 32px;
        position: relative;
        width: 300px;
        display: flex;
        align-self: center;

        &:after {
            position: absolute;
            content: '';
            display: flex;
            width: 70px;
            height: 1px;
            border-top: 1px solid black;
            left: 37%;
            top: 60px;
        }

        &::before {
            position: absolute;
            content: '';
            display: flex;
            width: 50px;
            height: 2px;
            background-color: black;
            left: 40%;
            top: 65px;
        }
    }

    &__text {
        display: flex;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            display: flex;
            width: 2px;
            height: 27px;
            background-color: black;
            left: 49%;
            top: -45px;
        }
    }
}

.portfolio-items {

    &__wrap {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

    }

    &__title {
        display: flex;
        margin-top: 40px;
        justify-content: space-around;
        width: 500px;
        margin-bottom: 15px;

    }

    &__links {
        display: flex;
        text-decoration: none;
        color: rgb(118, 117, 117);
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        position: relative;

        &:hover {
            color: black;
            transition: all 0.3s ease-in-out;
        }
    }
}

.portfolio-card__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-template-rows: 3fr;
    grid-template-areas:
        "first secound third"
        "fourth secound sixth"
        "fourth  fifth sixth";
}
.portfolio-border-bottom {
            display: flex;
            height: 3px;
            position: absolute;
            background-color: black;
            width: 0%;
            bottom: -8px;
            transition: all 0.5s ease-in-out;
}
           
.portfolio-card {
    display: flex;
    position: relative;

    &:nth-child(1) {
        grid-area: first;
    }

    &:nth-child(2) {
        grid-area: secound;
    }

    &:nth-child(3) {
        grid-area: third;
    }

    &:nth-child(4) {
        grid-area: fourth;
    }

    &:nth-child(5) {
        grid-area: fifth;
    }

    &:nth-child(6) {
        grid-area: sixth;
    }

    &__overlay {
        display: flex;
        cursor: pointer;
        justify-content: end;
        flex-flow: column;
        align-items: center;
        color: white;
        position: absolute;
        width: 100%;
        background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
        height: 100%;
        border-width: 0%;
        opacity: 0;
        padding-bottom: 50px;
        transition: all 0.4s ease-in-out;

        &:hover {
            opacity: 1;
            border-width: 100%;
            border-bottom: 5px solid #f7a405;
            transition: all 0.4s ease-in-out;
        }
    }
}

.overlay__title {
    margin-bottom: -10px;
    position: relative;

    &:before {
        content: url(../img/main/icons/search.svg);
        width: 50px;
        height: 50px;
        position: absolute;
        top: -35px;
        left: 70px;
    }
}

.portfolio__btn {
    width: 300px;
    padding: 15px 25px;
    margin-top: 30px;
    cursor: pointer;
}

@media (max-width:1150px) {
    .portfolio-card__container {
        display: flex;
        flex-flow: column;
    }
}

@media (max-width: 500px) {
    .portfolio-items__title {
        flex-flow: row wrap;
        width: 80vw
    }

    .portfolio-items__links {
        margin-top: 10px;
        margin-left: 5px;

    }

}