.slider__container {
    display: flex;
    overflow: hidden;
    max-width: 100vw;
    height: 80vh;
    width: 101%;
    position: relative;
    padding-top: 2px;
    left: -8px;
}

.slider__wrap {
    display: flex;
    padding: 0px;
}

.slider__btn--right {
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    right: 5px;
    top: 50%;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;

    &:hover {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }

    &::before {
        content: url(../img/main/icons/chevron-right-solid.svg);
        width: 25px;
        left: 15px;
        position: absolute;
        top: 6px;
        opacity: 0.6
    }
}

.slider__btn--left {
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    top: 50%;
    left: 5px;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;

    &:hover {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }

    &::before {
        content: url(../img/main/icons/chevron-left-solid.svg);
        width: 25px;
        left: 10px;
        position: absolute;
        top: 6px;
        opacity: 0.6;
        transition: opacity 0.3s ease-in-out;
    }
}

.slider__dots-contianer {
    position: absolute;
    display: flex;
    width: 100px;
    height: 50px;
    bottom: 0px;
    justify-content: space-around;
    align-items: center;
    left: 45%;
}

.pointVisible {
    visibility: visible;
}

.slider__dots {
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.726);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.slider__point {
    display: flex;
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: white;
    visibility: hidden;
}





.active {
    width: 100% !important;
    visibility: visible !important;
    transition: all 0.3s ease-in-out;

}

.slider__wrap-img {
    display: flex;
    position: relative;
    width: 100vw;
    height: 90vh;
}

.slider__img-container {
    display: flex;
    position: relative;
    visibility: hidden;
    transition: all 0.3s ease-in-out;

    &:nth-child(1) {
        background: url(../img/main/slider/images-slider-bg-1-1.jpg) no-repeat;
        display: flex;
        width: 0%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    &:nth-child(2) {
        background: url(../img/main/slider/images-slider-bg-1-2.jpg);
        width: 0%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    &:nth-child(3) {
        background: url(../img/main/slider/images-slider-bg-1-3.jpg);
        width: 0%;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;
        background-position-y: 115%;
    }
}

.slider {
    &__content {
        display: flex;
        position: absolute;
        top: 30%;
        left: 35%;
        flex-flow: column;
        justify-content: center;
        align-items: center;


        &-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 35px;
            border-radius: 5px;
            color: black;
            background-color: rgb(241, 182, 53);
            transition: all 0.3s ease-in-out;

            &--dark {
                background-color: rgb(52, 48, 70);
                transition: all 0.3s ease-in-out;
                color: white;

                &:hover {
                    background-color: rgb(241, 182, 53) !important;
                    transition: all 0.3s ease-in-out;
                    color: black !important;
                }
            }

            &:hover {
                background-color: rgb(52, 48, 70);
                color: white;
                transition: all 0.3s ease-in-out;
            }

        }
    }

    &__text {
        font-size: 18px;

        &--dark {
            color: white;
        }
    }

    &__title {
        color: black;
        font-family: Raleway-SemiBold, sans-serif;
        font-size: 32px;
        margin-bottom: -15px;

        &--dark {
            color: white;
        }
    }
}

@media (max-width: 760px) {
    .slider__container {
        height: 50vh;
        width: 105%;
    }

    .slider__wrap-img {
        height: 50vh;
    }

    .slider__content {
        left: 20%;
        top: 38%;
        padding: 0 15px;
        &-btn {
            margin-right: 24%;
        }
    }
    .slider__title {
        font-size: 22px;
    }
    .slider__img-container {
        background-size: cover !important;
        background-position: center !important;
        transition: all 0.3s ease-in-out;
    }

}