.company-condition {
    background-color: #18151A;
    z-index: 10;
}

.condition {
    &-card__wrap {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 30px;

    }
    &-about {
        display: flex;
        flex-flow: column;
    }
    &__icon {
        padding-top: 30px;
        margin-right: 20px;
    }
    &__card {
        display: flex;
        flex-flow: row;
        align-items: center;
        position: relative;
        justify-content: flex-start;
        width:100%

    }

    &__title {
        font-family: Lato-Bold;
        font-size: 16px;
        color: white;
        margin: 30px 0 10px 0;

    }

    &__text {
        font-family: Lato-Regular;
        font-size: 14px;
        color: #C4B2D3;
        margin: 0;

    }
}
.condition__border--bot {
    display: flex;
    width: 0%;
    position: absolute;
    height: 3px;
    background-color: #9C60D7;
    bottom: 0;
    left: 0;
    transition: width 0.4s ease-in-out;
}

@media (min-width: 820px) {
    .company-condition {
        background-color: unset;
    }
    .condition {
        &-card__wrap {
            flex-flow: row nowrap;
            justify-content: space-around;
            position: relative;
        }
        
        &__card {
            background-color: #18151A;
            width: 30%;
            height: 250px;
            padding: 0 15px 0px 10px;
            position: relative;
            top: -60px;
            z-index: 5;
           
            &:hover .condition__border--bot {
                width: 100%;
            }
            
        }
        &__title {
            font-size: 18px;
        }
        &__text {
            font-size: 16px;

        }
    }
}
@media (min-width:1120px) {
    .condition {
        &-card__wrap {
            flex-flow: row nowrap;
            justify-content: space-around;
            position: absolute;
        }
        
        &__card {
            background-color: #18151A;
            width: 30%;
            height: 160px;
            padding: 10px 25px 30px 25px;
            position: relative;
            top: -60px;
            z-index: 5;
        }
        &__title {
            font-size: 18px;
        }
        &__text {
            font-size: 16px;

        }
    }
    
}