footer {
    background: url(../img/bgFooter.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    &__container {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 40px 30px 20px 30px;
    }

    &__colum {
        display: flex;
        flex-flow: column;
        position: relative;
        margin-bottom: 20px;
        color: #a28fb2;
    }

    &__title {
        font-family: Lato-Black;
        color: #FFB400;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 0;
        padding-bottom: 14px;
    }

    &__link {
        color: white;
        font-family: Lato-Bold;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        margin-bottom: 10px;

        &:hover {
            color: #FFB400;
            transition: all 0.3s ease-in-out;
        }
    }

    &__text {
        color: white;
        font-family: Lato-Regular;
        display: flex;
        flex-flow: column;
        max-height: 0;
        overflow: hidden;
        transition: all 0.4s ease-in-out;
        &--news {
            max-height: 200px !important;
        }

    }

    &__input {
        background-color: #18151A;
        height: 45px;
        width: 51%;
        outline: none;
        border: none;
        padding-left: 15px;
        font-family: Lato-Light;
        color: #A28FB2;

        &-container {
            display: flex;
            flex-flow: row;
            position: relative;
            margin-top: 10px;
        }
    }

    &__btn--subscribe {
        position: relative;
        z-index: 5;
        width: 49%;
        height: 45px;
        background-color: #18151A;

    }

    &__p {
        margin: 0;
    }

    &-position {
        position: relative;

        &::before {
            content: url(../img/icon/geo.png);
            position: absolute;
            top: 1px;
            left: -30px;
        }
    }

    &-tel {
        position: relative;

        &::before {
            content: url(../img/icon/phone-call.png);
            position: absolute;
            top: 1px;
            left: -30px;

        }

    }

    &-email {
        position: relative;

        &::before {
            content: url(../img/icon/email.png);
            position: absolute;
            top: 1px;
            left: -30px;
        }

    }

    &-arrow {
        position: relative;
        left: 10px;
        top: -1px;
        transition: all 0.4s ease-in-out;

        &-rotate {
            transform: rotate(180deg);
            transition: all 0.4s ease-in-out;
        }
    }

    &-social {
        &__icons {
            display: flex;
            flex-flow: row;
            justify-content: space-around;
            width: 50%;
            margin: 15px 0 15px 0;
        }

        &__icon {
            display: flex;
            width: 18px;
            height: 18px;
            transition: all 0.4s ease-in-out;
            fill: white;

            &:hover {
                transition: all 0.4s ease-in-out;
                fill: #a28fb2;
            }
        }
    }

    &-open {
        max-height: 200px;
        overflow: visible;
        transition: all 0.4s ease-in-out;
    }
}

@media (min-width: 620px) {
    .footer__container {
        flex-flow: row wrap;
    }

    .footer-arrow {
        display: none;
    }

    .footer__title {
        cursor: default;
    }

    .footer__open {
        height: auto;
    }
    .footer__text {
        max-height: 300px;
        overflow: visible;
    }
}

@media (min-width: 1100px) {
    .footer__title {
        border-bottom: 1px solid rgba(128, 128, 128, 0.466);
    }

    .footer__colum {
        width: 25%;
    }
}