//* Parts
@import "parts/navbar";
@import "parts/slider_section";
@import "parts/portfolio-filter_section";
@import "parts/members_section";


//* Fonts
@font-face {
    font-family: "Railway Regular";
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: "Railway semibold";
    src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: "Railway Bold";
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family: "Railway Light";
    src: url(../fonts/Raleway-Light.ttf);
}

//* vars
// color
$grey: rgb(118, 117, 117);



*, ::after, ::before {
    box-sizing: border-box;
}
body {
    font-family: Raleway-Regular, sans-serif;
    color:$grey;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}